<div class="mp-styles">
  <div class="centered">
    <div class="big-text">
      <h1>Welcome to {{title}}</h1>
      <h2>Discover fellow alumni, <span class="home-title">and share your own experience</span></h2>
    </div>

    {{>flashMessages}}
    
    {{#if connectedUser}}
      {{#if connectedUser.isVerified}}

    <article class="button-index">
      <h3>Looking for someone?</h3>
        <div class="links">
          <a href="/search">Search for a specific Ironhacker</a>

          <a href="/random">Discover a fellow alumni</a>
        </div>
      </article>
      {{else}}
        <h2>Cool stuff available soon!</h2>
      {{/if}}

    {{else}}
      <a href="/login">Log In</a>

      <h3>Not registered as an alum yet?</h3>
      <a href="/signup">Sign up now!</a>
    {{/if}}


    {{#if connectedUser.isAdmin}}
    <article class="button-index">
      <h3>So you're an admin, eh?</h3>
      <h4>{{verifyCount}} users waiting to be verified!</h4>
      <a href="/verify-users">Verify Users Now!</a>
    </article>
    {{/if}}

  </div>
</div>