<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <header>
      <h1>Meri and Marie project 3</h1>

      <nav>
        <a href="/">Home</a>

        {{#if connectedUser}}

          <strong>{{connectedUser.email}}</strong>
           <a href="/logout">Log Out</a>

           {{#if connectedUser.isAdmin}}
           <a href="">Admin</a>
           {{/if}}
        {{else}}
         <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>
        {{/if}}

      </nav>
    </header>


    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
