<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/mpStyle.css' />
    <link rel='stylesheet' href='/stylesheets/maStyle.css' />
  </head>
  <body>
  <header>
      <h1>IRONSTALK</h1>

      <nav>
        <a href="/">Home</a>

        {{#if connectedUser}}

          <strong>{{connectedUser.email}}</strong>
          <a href="/you">View your page</a>
           <a href="/settings">Update your profile</a>
           <a href="/logout">Log Out</a>

           {{#if connectedUser.isAdmin}}
           <a href="/verify-users">Admin</a>
           {{/if}}
        {{else}}
         <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>
        {{/if}}

      </nav>
    </header>


    {{{body}}}

    <footer>
      <p>Ironhack Project#2 by Meri and Marie</p>
    </footer>

    <script src='/javascripts/script.js'></script>
  </body>
</html>
