<h2>Thank you for joining {{title}}</h2>

<h3>Before you can start discovering other current students and alums, your account must be verified.</h3>

<p>An admin will check your profile ASAP!</p>

<p>Questions, comments, concerns?</p>

<a href="#">Contact Us!</a>