<div class="mp-styles">
  <div class="centered">
    <h2>Thank you for joining {{title}}</h2>

    <h3>Before you can start discovering other current students and alums, your account must be verified.</h3>

    <h4>An admin will check your profile ASAP!</h4>

    <p>Questions, comments, concerns?</p>

    <button onclick="location.href='mailto:magillier@hotmail.fr';">Contact Us!</button>
  </div>
</div>