<div class="searchPage centerflex">
  <div class="searchBox centerflex">
    <h2>Let's narrow it down</h2>

    <form method="GET" action="/find-hackers" class="centerflex">
    <div class="searchFields">
      <input type="text" name="firstName" placeholder="John" class="nameInput">

      <select name="IronhackCourseCity">
        <option value="all">All Cities</option>
        <option value="Paris">Paris</option>
        <option value="Miami">Miami</option>
        <option value="Barcelona">Barcelona</option>
        <option value="Madrid">Madrid</option>
        <option value="Berlin">Berlin</option>
        <option value="Mexico">Mexico</option>
      </select>
</div>
      {{!--
      <select name="cohortTime">
        {{#each info}}
        <option value="{{this.cohortTime}}">{{this.cohortTime}}</option>
        {{/each}}
      </select> --}}

      <button class="index-btn">Search for an Ironhacker!</button>
    </form>

  </div>

</div>