<div class="searchPage centerflex">
  <div class="searchBox centerflex">
    <h2>Let's narrow it down</h2>

    <form method="GET" action="/find-hackers" class="centerflex">
    <div class="searchFields">
     <input type="text" name="firstName" placeholder="Enter a name!" class="input">

      <select name="IronhackCourseCity" class="dropDown">
        <option value="">All Cities</option>
        <option value="Paris">Paris</option>
        <option value="Miami">Miami</option>
        <option value="Barcelona">Barcelona</option>
        <option value="Madrid">Madrid</option>
        <option value="Berlin">Berlin</option>
        <option value="Mexico">Mexico</option>
      </select>

      <select name="course" class="dropDown">
        <option value="">All Courses</option>
        <option value="UX-UI">UX-UI</option>
        <option value="Web-Dev">Web-Dev</option>
      </select>

    <button class="index-btn searchButton">Search</button>
    </form>
    </div>

  </div>

</div>