// dark blue: #1E2334
// medium blue: #2D354C
// light blue: #32C3FF

//GENERAL CLASSES
//-----------------------------------------------------------------------------------------------------------------------------------

.centerflex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flexStart{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input{
  border-radius: 5px;
  padding: 0;
  border: 1px solid #f5f5f5;
  color: #F49102;
  font-size: 1em;
  text-align: center;
}

// LOGIN PAGE
//-----------------------------------------------------------------------------------------------------------------------------------


.loginPage {
  justify-content: center;
  height:calc(100vh - 170px);
}

.loginPage h2 {
  line-height: 80px;
  letter-spacing: 0;
}

.loginPage .loginWrapper {
  height: 350px;
  width: 350px;
  justify-content: space-around;
}

.loginPage form {
  justify-content: center;
  height: 100%;
}

.loginPage .input {
  margin: 5px 0;
  height: 45px;
  width: 180px;
}


//SIGN UP AND SETTINGS PAGES
//-----------------------------------------------------------------------------------------------------------------------------------


.signupPage, .settingsPage {
  height: 1500px;
}

.signupPage h2,
.settingsPage h2,
.signupPage h3,
.settingsPage h3 {
  line-height: 80px;
}

.signupPage p,
.settingsPage p {
  line-height: 60px;
}

//SEARCH PAGE
//-----------------------------------------------------------------------------------------------------------------------------------

.searchPage {
  justify-content: center;
  height:calc(100vh - 170px);
}

.searchBox {
  width: 800px;
  height: 300px;
  justify-content: space-around;
}

.searchPage form {
  border-radius: 5px;
  height: 100px;
  justify-content: space-around;
  width: 1000px;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
}

.loginWrapper {
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
}

.searchPage .searchFields {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 950px;
}

.searchPage .input {
  height: 56px;
  width: 230px;
  width: 30%;
}

.searchButton {
  color: white;
  background-color: #2DC5FA;
  border-radius: 5px;
  font-size: inherit;
  border: none;
  width: 20%;
  height: 58px;
  padding: 0;
}

.dropDown {
  border-radius: 5px;
  height: 58px;
  text-align-last: center;
  width: 20%;
  background: white;
  color: #F49102;
  font-size: 1em;
}

.unverifiedPage{
  height:calc(100vh - 170px);
}

// .comment-box {
//   height: 56px;
//   border: 1px solid #f5f5f5;
//   width: 400px;
//   color: #F49102;
//   font-size: 1.2em;
// }

.contactButton {
  font-weight: 400;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  color: #32C3FF;
  cursor: pointer;
  display: block;
  font-size: 1.25em;
  margin: 2em auto;
  padding: 28px 0;
  text-decoration: none;
  transition: background .3s ease-in-out;
  width: 20%;
}
