// dark blue: #1E2334
// medium blue: #2D354C
// light blue: #32C3FF

//GENERAL CLASSES
//-----------------------------------------------------------------------------------------------------------------------------------

.centerflex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flexStart{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

// LOGIN PAGE
//-----------------------------------------------------------------------------------------------------------------------------------


.loginPage {
  justify-content: center;
  height: 100vh;
}

.loginPage .loginWrapper {
   width: 200px;
  height: 250px;
  justify-content: space-around;

}

.loginPage form {
  justify-content: center;
  height: 150px;
}


//SIGN UP AND SETTINGS PAGES
//-----------------------------------------------------------------------------------------------------------------------------------


.signupPage, .settingsPage {
  height: 1500px;
}

.signupPage h2,
.settingsPage h2,
.signupPage h3,
.settingsPage h3 {
  line-height: 80px;
}

.signupPage p,
.settingsPage p {
  line-height: 60px;
}

//SEARCH PAGE
//-----------------------------------------------------------------------------------------------------------------------------------

.searchPage {
  justify-content: center;
  height: 100vh;
}

.searchBox {
  width: 800px;
  height: 300px;
  justify-content: space-around;
}

.searchPage form {
  border-radius: 5px;
  height: 100px;
  justify-content: space-around;
  width: 1000px;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
}

.searchPage .searchFields {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 950px;
}

.searchPage .nameInput {
  border-radius: 5px;
  padding: 0;
  height: 56px;
  border: 1px solid #f5f5f5;
  width: 230px;
  color: #F49102;
  font-size: 1em;
  width: 30%;
  text-align: center;
}

.searchButton {
  color: white;
  background-color: #2DC5FA;
  border-radius: 5px;
  font-size: inherit;
  border: none;
  width: 20%;
  height: 58px;
  padding: 0;
}

.dropDown {
  border-radius: 5px;
  height: 58px;
  text-align-last: center;
  width: 20%;
  background: white;
  color: #F49102;
  font-size: 1em;
}

// .comment-box {
//   height: 56px;
//   border: 1px solid #f5f5f5;
//   width: 400px;
//   color: #F49102;
//   font-size: 1.2em;
// }