// dark blue: #1E2334
// medium blue: #2D354C 
// light blue: #32C3FF 


// RESET ALL DEFAULT STYLE FROM BROWSER
//-----------------------------------------------------------------------------------------------------------------------------------

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a,  address, em, img, q, s, 
small, strong, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header,
menu, nav, output, section, summary,
time, {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

//LAYOUT
//-----------------------------------------------------------------------------------------------------------------------------------


header {
  background-color: #fff;
  height: 100px;
  width: 100vw;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

header a {
  text-transform: uppercase;
  padding: 0 15px;
}

nav {
  line-height: 100px;
}

nav p {
  color: black;
  display: inline;
}

nav .rightLinks {
  position: absolute;
  right: 15px;
  float: right;
}

nav .leftLinks {
  position: absolute;
  left: 15px;
}

footer {
  background-color: #1E2334;
  height: 70px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  margin: 0;
}

footer p {
  display: flex;
  justify-content: center;
  line-height: 3.5;
  color: grey;
}


//GENERAL WEBSITE STYLES
//-----------------------------------------------------------------------------------------------------------------------------------


body {
  font: 20px 'Roboto', arial, sans-serif;
  background-color: #2D354C;
  color: #fff;
  line-height: 30px;
  margin: 100px 20% 70px;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: "Roboto Mono", arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 4em;
  letter-spacing: 6px;
}

h2{
  font-size: 2.5em;
  letter-spacing: 3px;
}

h3 {
  font-size: 2em;
  letter-spacing: 1.5px;
}

h4 {
  font-size: 1.5em;
}

button {
  color: white;
  background-color: #2DC5FA;
  padding: 20px 3em;
  border-radius: 5px;
  font-size: inherit;
  border: none;
}

button a {
  color: #fff;
}

[class$="-message"]{
  border-radius: 10px;
  padding: 10px;
}

.success-message {
  color: rgb(23, 41, 40);
  background-color:  #72C0BC;
}

.error-message {
  color: rgb(117, 15, 15);
  background-color:  #F67373;
}