
<h2>Tell us more about you!</h2>

<form method="POST" action="/edit-about">
  <p>What should we know about you?</p>
  <p>This will appear as your <i>about me</i> section</p>
  <label>
    About you: <input type="text" name="bio" value="??">
  </label>

  <p>What are you currently working on? </p>
  <p>This will appear in your <i>projects</i> section</p>
  <label>
    Project Title: <input type="text" name="" value="??">
  </label>

  <label>
    Project Link: <input type="text" name="" value="??">
  </label>

  <label>
    Project Description: <input type="text" name="" value="??">
  </label>
</form>