<div class="settingsPage centerflex">

  <h2>User Settings</h2>
  <br>

  {{>flashMessages}}

  <form method="POST" action="/process-settings" enctype="multipart/form-data">

    {{>userInfoForm}}

    <div class="flexStart">
      <h3>Change your password</h3>
      <label>
        Old Password:
        <input class="input" type="password" name="oldPassword" placeholder="your old password">
      </label>


      <label class="big-text">
        New Password:
        <input class="input" type="password" name="newPassword" placeholder="your new password">
      </label>


      <button>Save Settings</button>
    </div>
  </form>

</div>