<h2>Sign up</h2>

{{>flashMessages}}

<form method="POST" action="/process-signup">

  <h3>Personal Information:</h3>
  <label for="firstName">
    First Name:
  </label>
  <input type="text" name="firstName" id="firstName" placeholder="Elon">
  <br>

  <label for="lastName">
    Last Name:
  </label>
  <input type="text" name="lastName" id="lastName" placeholder="Musk">
  <br>

  <label for="email">
    Email:
  </label>
  <input type="email" name="email" id="email" placeholder="sophie@dupont.com">
  <br>

  <label for="originalPassword">
    Password:
  </label>
  <input type="password" name="originalPassword" id="originalPassword" placeholder="******">
  <br>

  <label for="linkedInAccount">
    LinkedIn Account URL:
  </label>
  <input type="text" name="linkedInAccount" id="linkedInAccount">
  <br>

  <label for="githubAccount">
    Github Account URL:
  </label>
  <input type="text" name="githubAccount" id="githubAccount">
  <br>

  <label for="behanceAccount">
    Behance Account URL:
  </label>
  <input type="text" name="behanceAccount" id="behanceAccount">
  <br>

  <h3>Ironhack Course Information:</h3>
  <label for="course">
    Course Attended:
  </label>
  <select name="course">
    <option value="UX-UI">UX-UI</option>
    <option value="Web-Dev">Web-Dev</option>
  </select>
  <br>

  <label for="courseTimeStructure">
    Time Structure:
  </label>
  <select name="courseTimeStructure">
    <option value="full-time">Full-Time</option>
    <option value="part-time">Part-Time</option>
  </select>
  <br>

  <label for="IronhackCourseCity">
    Bootcamp City:
  </label>
  <select name="IronhackCourseCity">
    <option value="Miami">Miami</option>
    <option value="Madrid">Madrid</option>
    <option value="Barcelona">Barcelona</option>
    <option value="Paris">Paris</option>
    <option value="Mexico">Mexico</option>
    <option value="Berlin">Berlin</option>
  </select>
  <br>

  <label for="cohortTime">Bootcamp Start Date:</label>
    <input type="month" id="cohortTime" name="cohortTime"
           min="2011-01" value="2018-05" />
   <br>


  <h3>Current Information</h3>

  <label for="currentCity">
    Current City:
  </label>
  <input type="text" name="currentCity" id="currentCity">
  <br>

  <label for="employmentStatus">
    Employment Status:
  </label>
  <input type="checkbox" name="employmentStatus" value="Currently working">Currently working
  <br>
  <input type="checkbox" name="employmentStatus" value="Looking for a job">Looking for a job
  <br>
  <input type="checkbox" name="employmentStatus" value="Neither">Neither
  <br>
  <br>

  <label for="currentCompany">
    Current Company:
  </label>
  <input type="text" name="currentCompany" id="currentCompany">
  <br>


  <button>Sign up</button>
</form>