<div class="signupPage centerflex">

<h2>Sign up</h2>
<br>

{{>flashMessages}}

<form method="POST" action="/process-signup" enctype="multipart/form-data" class="flexStart">

 {{>userInfoForm}}


  <button>Sign up</button>
</form>

</div>